* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    background-color: rgb(45, 83, 83);
  }

  #map { height: 360px; }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: rgb(45, 83, 83);
    height: 100%;
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: flex;
  }

  .container {
    max-width: 960px;
    margin-top: 25px;
  }
  
  .box {
    background-color: lightseagreen;
  }

  #side_box {
      position: relative;
      margin-top: 20px;
      width: 640px;
  }